body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px 0;
    background-color: #f4f4f4;
}

.box {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 200px;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
}

.temperature {
    background-color: #ffcccc;
}

.humidite {
    background-color: #cceeff;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* # TYRANNOSAURE */

